* {
    margin: 0;
    border: 0;
    align-items: center;
}

body {
    background-color: black;
}

#container {
    position: relative;
    width: 1000px;
    background-color: rgb(207, 114, 0);
    left: 120px;
    height: 800px;
    
}

#headerDiv {
    background-color: aqua;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 20px;
    width: 824px;
    height: 80px;
    align-items: center;
}

#navDiv {
    background-color: aqua;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 120px;
    width: 824px;
    height: 80px;
}

#wrapper {
    background-color: rgb(47, 0, 255);
    position: absolute;
    left: 100px;
    right: 100px;
    top: 240px;
    width: 824px;
    height: 400px;
}

#sectionDiv {
    background-color: rgb(255, 0, 149);
    position: absolute;
    left: 10px;
    top: 50px;
    width: 480px;
    height: 300px;
}

#asideDiv {
    background-color: rgb(255, 0, 149);
    position: absolute;
    right: 10px;
    top: 50px;
    width: 300px;
    height: 300px;
}
#footerDiv {
    background-color: rgb(47, 0, 255);
    position: absolute;
    left: 100px;
    right: 100px;
    top: 680px;
    width: 824px;
    height: 80px;
}
