* {
    margin: 0;
    border: 0;
}

body {
    background-color:rgb(200, 200, 200);
}

#container {
    position: relative;
    width: 960px;
    left: 120px;
    height: 620px;
}

#headerDiv {
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 2;
}

#sectionDiv {
    background-color: rgb(40, 114, 197);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    bottom: 50px;
}


#footerDiv {
    background-color: rgb(80, 79, 79);
    position: fixed;
    border-top: solid 6px rgb(2, 189, 126);
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    z-index: 2;
}

